@import 'variables.sass' ;
@import 'mixins.sass' ;
@import 'functions.sass' ;


body{
    background: $grey-color;
  }


#flex-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}

.new-york-restaurants{
  display: grid;
  grid-gap: 13px;
}

p{
  line-height: 2px;
}

.heart{
color: blueviolet;
}

.full-palette {
  @include border;
  img{
    @include image-size;
   }
  
}


.enchanted-plate {
  @include border;
 img{ 
  @include image-size;
  }
 }


.bastille {
  @include border;
 img{ 
  @include image-size;
  }
 }


.le-gourmand {
  @include border;
  img{ 
  @include image-size;
  }
}
   

    

              
