@mixin btn 
    width : 150px;
    height: 40px;
    font-size: 14px;
    

@mixin image-size
     height: 135px;
     max-height: 350px;
     object-fit: cover;
     border-radius: 18px;
     border-bottom-left-radius: 2px;
     border-bottom-right-radius: 2px;
     width: 200px;

@mixin border
     padding: 34px;
     border-width: 10px;
     border-right: 1px;
     background-color: white;

@mixin text
    text-align: center;

@mixin flex-content
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;

@mixin bubble
  padding: 12px;
  border-radius: 50%;
  margin-right: 15px;

@mixin name()
    