@mixin btn 
    width : 150px;
    height: 40px;
    font-size: 14px;
    

@mixin image-size
     height: 135px;
     max-height: 350px;
     object-fit: cover;
     border-radius: 18px;
     border-bottom-left-radius: 2px;
     border-bottom-right-radius: 2px;
@mixin border
    border-radius: 20px;
    border-width: thin;
@mixin text
    line-height: 4px;



@mixin name()
    